@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --second-color: #ffffff;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--main-background-color);
}

img {
  display: block;
  min-width: 100px;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo__append--light {
  color: var(--second-color);
}
.logo__append--dark {
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
}
.header .logo {
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}

.desktop-header {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .desktop-header {
    display: flex;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link--active {
  position: relative;
  color: var(--accent-color);
}
.menu__link--active::after {
  content: "";
  position: absolute;
  bottom: -1px; /*1 піксель від border-bottom хедера*/
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .contacts__item {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:first-child .contacts__link {
    padding-top: 21px;
  }
  .contacts__item:last-child .contacts__link {
    padding-bottom: 21px;
  }
}
.additional-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .additional-container {
    width: 480px;
  }
}

.mob-header {
  position: relative;
  display: none;
  width: 100%;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .mob-header {
    display: block;
  }
}
.mob-header__visible-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mob-header__invisible-part {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 102%;
  height: 100vh;
  padding: 48px 5px 35px 15px;
  font-weight: 500;
  letter-spacing: 1.22;
  background-color: #fff;
}
@media screen and (min-width: 435px) {
  .mob-header__invisible-part {
    padding: 48px 15px 48px 25px;
  }
}

.mob-header__open-btn {
  background-color: transparent;
  border: none;
  fill: var(--main-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-header__open-btn:hover, .mob-header__open-btn:focus {
  fill: var(--accent-color);
}

.mob-header__close-btn {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: transparent;
  border: none;
  fill: var(--main-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-header__close-btn:hover, .mob-header__close-btn:focus {
  fill: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-size: 38px;
  line-height: 1.175;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 435px) {
  .mob-menu__link {
    font-size: 40px;
  }
}
.mob-menu__link--active {
  color: var(--accent-color);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-contacts {
  margin-bottom: 64px;
}
.mob-contacts__item:first-child {
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 1.1764705882;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 435px) {
  .mob-contacts__item:first-child {
    font-size: 34px;
  }
}
.mob-contacts__item:last-child {
  font-size: 21px;
  line-height: 1.1666666667;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 435px) {
  .mob-contacts__item:last-child {
    font-size: 24px;
  }
}
.mob-contacts__item:hover, .mob-contacts__item:focus {
  color: var(--accent-color);
}
.mob-contacts__link {
  color: currentColor;
}

.mob-soc-media {
  display: flex;
  flex-wrap: wrap;
}
.mob-soc-media__item:not(:first-child) {
  padding-left: 10px;
}
.mob-soc-media__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 364px) {
  .mob-soc-media__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.mob-soc-media__link {
  font-size: 15px;
  line-height: 1.22;
  color: var(--accent-color);
}
.mob-soc-media__link:hover, .mob-soc-media__link:focus {
  text-decoration: underline;
}
@media screen and (min-width: 435px) {
  .mob-soc-media__link {
    font-size: 18px;
  }
}

.hero {
  padding-bottom: 118px;
  padding-top: 118px;
  background-color: var(--second-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
.hero__title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 21px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__btn {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .hero__btn {
    width: 180px;
    height: 45px;
    font-size: 14px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: calc((100% - 90px) / 4);
  }
}
.benefits-list__icon-wrap {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-background-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-list__subtitle {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits-list__subtitle {
    text-align: center;
  }
}
.benefits-list__text {
  line-height: 1.7142857143;
  color: var(--main-text-color);
}

/*   -------------------іконки через before--------------
  .benefits-list__item::before{
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position:  50% 50%;
  margin-bottom: 30px;
  }
  .benefits-list__item:first-child::before {
      background-image: url(../images/antenna.svg);
  }
  .benefits-list__item:last-child::before {
      background-image: url(../images/astronaut.svg);
  }
  .benefits-list__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  }
  .benefits-list__item:nth-child(3)::before {
      background-image: url(../images/diagram.svg);
  }
  */
.work {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work__list {
  display: flex;
}
.work__item {
  position: relative;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
  background-color: var(--third-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sheet {
  width: 100%;
  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .sheet {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .sheet {
    width: calc((100% - 90px) / 4);
  }
}
.sheet__description {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .sheet__description {
    padding-bottom: 30px;
  }
}
.sheet__subtitle {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}
.sheet__text {
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media__item {
  width: 38px;
  height: 38px;
}
@media screen and (min-width: 480px) {
  .social-media__item {
    width: 44px;
    height: 44px;
  }
}
.social-media__item:not(:first-child) {
  margin-left: 10px;
}

.social-media__icon {
  fill: currentColor;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media--light .social-media__link {
  color: #afb1b8;
  background-color: transparent;
}
.social-media--dark .social-media__link {
  color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (min-width: 480px) {
  .clients__list {
    gap: 30px;
  }
}
.clients__item {
  width: calc((100% - 15px) / 2);
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__icon {
  fill: currentColor;
}

.clients__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    padding-left: 76px;
    padding-right: 89px;
  }
}
.footer .logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (max-width: 1199px) {
  .footer .logo {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .address-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .address-wrap {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-wrap {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    margin-right: 70px;
  }
}

.address__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .address__item {
    text-align: center;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: auto;
  }
}
@media screen and (max-width: 1199px) {
  .join {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .join {
    width: 100%;
  }
}
.join__text {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--main-background-color);
}
@media screen and (max-width: 1199px) {
  .join__text {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .mailing {
    width: 100%;
  }
}

.mailing__text {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--second-color);
}
@media screen and (max-width: 1199px) {
  .mailing__text {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__form {
    display: flex;
  }
}

.mailing__input {
  display: block;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .mailing__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
    margin-right: 12px;
  }
}
.mailing__input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}
.mailing__input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .mailing__btn {
    margin: 0 auto;
  }
}
.mailing__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}
.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-title-color);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__icon, .modal__close-btn:focus .modal__icon {
  fill: var(--accent-color);
}

.modal-form__list {
  margin-bottom: 20px;
}

.modal-form__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover + .modal-form__input-icon, .modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:hover, .modal-form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__field {
  margin-bottom: 30px;
}

.modal-form__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}
.modal-form__policy > a {
  color: var(--accent-color);
}

.mf-checkbox__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  background-color: transparent;
  border: 2px solid var(--main-title-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mf-checkbox:checked + .modal-form__policy > .mf-checkbox__icon-wrap {
  background-color: var(--accent-color);
  border: none;
}
.mf-checkbox:focus + .modal-form__policy > .mf-checkbox__icon-wrap {
  border: 2px solid var(--accent-color);
}

.mf-checkbox__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mf-checkbox:checked + .modal-form__policy .mf-checkbox__icon {
  fill: var(--main-background-color);
}

.modal-form__button {
  margin: 0 auto;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filters {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}
.filters__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
  }
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__item:nth-child(-n+3) {
  margin-bottom: 15px;
}

.filters__btn {
  height: 38px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--third-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters__btn--active {
  background-color: var(--accent-color);
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 100%;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: calc((100% - 60px) / 3);
  }
}
.card__image-wrap {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--second-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__overlay-text {
  font-size: 15px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 370px) {
  .card__overlay-text {
    font-size: 18px;
  }
}
.card__description {
  padding: 20px 24px;
}
.card__title {
  margin-bottom: 4px;
  margin-right: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}

.card__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  transform: translateY(0);
}

/*                 Другий варіант сітки

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
.card:nth-child(3n) {
    margin-right: 0;
}
.card:nth-last-child(-n+3) {
margin-bottom: 0;
}*//*# sourceMappingURL=main.css.map */