.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  color: var(--accent-color);

  &__append--light {
    color: var(--second-color);
  }

  &__append--dark {
    color: var(--main-title-color);
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
