.social-media {
  display: flex;
  justify-content: center;
}

.social-media__item {
  width: 38px;
  height: 38px;

  @media screen and (min-width: 480px) {
    width: 44px;
    height: 44px;
  }

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social-media__icon {
  fill: currentColor;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @include transition2(color, background-color);

  .social-media--light & {
    color: #afb1b8;
    background-color: transparent;
  }

  .social-media--dark & {
    color: var(--second-color);
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-background-color);
  }
}
