* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
  
    color: var(--main-title-color);
    background-color: var(--main-background-color);
  }
  
  img {
display: block;
max-width: 100%;
width: 100%;
height: auto;
  }

  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }

  .no-scroll {
    overflow: hidden;
  }

  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
