  @mixin transition1($property) {
    transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @mixin transition2($first-property, $second-property) {
    transition: $first-property 250ms cubic-bezier(0.4, 0, 0.2, 1), $second-property 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @mixin transition3($first-property, $second-property, $third-property) {
    transition: $first-property 250ms cubic-bezier(0.4, 0, 0.2, 1), $second-property 250ms cubic-bezier(0.4, 0, 0.2, 1), $third-property 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
