:root {
    --accent-color: #2196f3;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --second-color: #ffffff;
    --main-background-color: #ffffff;
    --second-background-color: #2f303a;
    --third-background-color: #f5f4fa;
  }